.App {

  color: #fff;
}
.Search-area{
  width: 75vw;
  text-align: center;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%,calc(-50% - 75px));
  padding: 1rem;
  /* background-color: #797979; */
  border-radius: 20px;
}